@import "styles.css";

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-item {
        padding-left: 1.5rem;
    }

    .nav-link {
        color: #23426c !important;
    }
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem !important;
    }

    .emp-text-5 {
        font-size: 1.5rem !important;
    }

    .nav-link {
        color: #fff !important;
    }

    .card-t1 {
        width: 60%;
        margin: 2rem auto !important;
    }

    .sec-text {
        font-size: .8rem !important;
    }

}

@media (max-width: 992px) {
    h3 {
        font-size: 1.8rem !important;
    }

    .img-w-1 {
        width: 100% !important;
    }

    .img-pos-1 {
        position: static !important;
    }

    .sec-text {
        font-size: 1.1rem !important;
    }

}

@media (max-width: 1200px) {
    .card-t1 {
        width: 80%;
        margin: 2rem auto !important;
    }

    .mtd-1 {
        margin-top: 12rem !important;
    }
}

@media (min-width: 1200px) {
    .card-t1 {
        transition: transform 1s;
    }

    .card-t1:hover, .card-hl {
        transform: translateY(-25%);
    }

    .nav-item {
        padding-right: 30px !important;
    }
}