@import "styles.css";

:root {
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width:  768px) {
    .card-t1 {
        width: 60%;
        margin: 2rem auto !important;
    }

    .sec-text {
        font-size: .8rem !important;
    }

}

@media (max-width: 992px) {
    h3 {
        font-size: 1.8rem !important;
    }

    .img-w-1 {
        width: 100% !important;
    }

    .img-pos-1 {
        position: static !important;
    }

    .sec-text {
        font-size: 1.1rem !important;
    }

}

@media (max-width:  1200px) {
    .card-t1 {
        width: 80%;
        margin: 2rem auto !important;
    }

    .mtd-1 {
        margin-top: 12rem !important;
    }
}


@media (min-width:  1200px) {
    .card-t1 {
        transition: transform 1s;
    }

    .card-t1:hover, .card-t2 {
        transform: translateY(-25%);
    }

    .btn-t3 {
        color: #fff !important;
        background-color: var(--main-accent) !important;
        border: 2px solid var(--main-accent) !important;
        font-weight: bold !important;
    }
}