@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');

:root {
    --main-accent: #A919C9;
    --main-accent-darker: #9119af;
    --sec-accent: #23426C;
    --sec-accent-transparent: rgba(35, 66, 108, 0.1);
    --light-gray: #d7d7d7;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body, body a {
    overflow-x: hidden;
    color: var(--sec-accent);
    font-family: 'Segoe UI', sans-serif;
}

.nav-link {
    color: var(--sec-accent) !important;
    font-size: 1.1rem;
}

/* Margin & Padding */

.m-2r {
    margin: 2rem 0;
}

.mb-6r {
    margin-bottom: 6rem;
}

.py-c1 {
    padding: 5rem 0;
}

/* Heights */
.h-large {
    min-height: 130vh;
}

.h-medium-large {
    min-height: 100vh;
}

.h-medium {
    min-height: 80vh;
}

.h-small-medium {
    min-height: 50vh;
}

.h-small {
    min-height: 20vh;
}

/* Backgrounds */
.background-light {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../../assets/img/background-light-grey.png);
}

.background-dark {
    background-image: url(../../assets/img/background-dark-blue.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-t1 {
    transition: transform 1s;
    background-color: #fff;
    border-radius: 10px;
    padding: 2.5rem 0;
    margin: 2rem 0;
    height: 40vh;
}

.card-t1:hover {
    transform: translateY(-25%);
}

/* Effects */
h3 {
    font-size:2.5rem;
}

.sec-text {
    font-size: 1.2rem;
}

.shadow-t1 {
    box-shadow: 0 .6rem .5rem rgba(0, 0, 0, .35);
}

.accent-color {
    color: #A919C9;
}

/* Emphasized text */
.emp-text-1 {
    color: var(--main-accent);
}

.emp-text-2 {
    font-weight: bold;
    font-size: 24px;
}

.emp-text-3 {
    font-weight: bold;
    font-size: 14px;
}

.emp-text-4 {
    font-weight: bolder;
}

/* Image Styling */
.img-pos-1 {
    position: relative;
    right: 11.5rem;
}

.img-w-1 {
    width: 135%;
}

.img-w-2 {
    width: 3rem;
}

.img-w-3 {
    width: 100%;
}

/* Buttons */
.btn-p1 {
    font-size: 12px;
    border-radius: 10px;
    font-weight: bold;
    padding: .5rem 1rem;
}

/* Borders */
.bt-1 {
    border-top: 1px solid var(--sec-accent-transparent);
}

.bb-1 {
    display: flex;
    border-bottom: 5px solid var(--main-accent);
    width: 8rem;
    margin: auto;
}

.btn-t1 {
    color: var(--sec-accent);
    background-color: #fff;
    border: 2px solid var(--sec-accent);
}

.btn-t2, .btn-t1:hover {
    color: #fff;
    background-color: var(--main-accent);
    border: 2px solid var(--main-accent);
    font-size: 12px;
    font-weight: bold;
}

.btn-t2:hover {
    color: #fff;
    background-color: var(--main-accent-darker);
    border: 2px solid var(--main-accent-darker);
}

.background-gray {
    background-color: var(--light-gray);
}

/* Form */
.contact-form {
    margin-top: 1rem;
}

.contact-form .textarea {
    min-height: 220px;
    resize: none;
}

.form-control {
    box-shadow: none;
    border-color: var(--light-gray);
    height: 49px;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--main-accent);
}

.form-control-feedback {
    line-height: 50px;
}

.main-btn {
    font-size: 12px;
    font-weight: bold;
    padding: .8rem 3rem;
    border-radius: 8px;
    background: var(--main-accent);
    border-color: var(--main-accent);
    color: #fff;
    margin: 2rem 0;
}

.main-btn:hover {
    background: var(--main-accent-darker);
    color: #fff;
}

.form-control-feedback {
    line-height: 50px;
    top: 0;
}

/* Testimonials */
.testimonials {
    position: relative;
    margin-top: 30px;
}

.testimonials .owl-item {
    margin-bottom: 1rem;
}

.testimonials .owl-nav {
    display: none;
}

.testimonials .owl-dots {
    text-align: center;
    margin-top: 1rem;
}

.testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid var(--main-accent);
    margin: 0 5px;
}

.testimonials .owl-dots .active {
    box-shadow: none;
}

.testimonials .owl-dots .active span {
    background: var(--main-accent);
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
}

.testimonials .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    min-height: 50vh;
}

.testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
}

.testimonials .card h5 {
    color: var(--main-accent);
    font-size: 21px;
    line-height: 1.3;
}

.testimonials .card h5 span {
    font-size: 18px;
    color: #666;
}

.testimonials .card p {
    font-size: 18px;
    color: #555;
    padding-bottom: 15px;
}

.testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
}

.testimonials .center {
    opacity: 1;
}

.testimonials .center h5 {
    font-size: 24px;
}

.testimonials .center h5 span {
    font-size: 20px;
}

.testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
}

.owl-carousel button.owl-dot {
    outline: 0;
}